*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.tong{
    width: 900px;
    margin: 10px auto;

}
header{
    width: 900px;
    height: 45px;
    background-color: #2F2F2F;
}
header> ul{
    float: left;
    padding-left: 15px;
}
header> ul>li{
	display: inline-block;
	padding: 0 5px; 
}
header> ul>li>a{
   
	display:block;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 15px;
    line-height: 45px;
   
}
header> ul>li>a:hover{
	text-decoration: underline;
}
form{
    float: right;
    padding:0 15px;
line-height: 45px;
}
input{
    border-radius: 90px;
    border: none;
    height: 20px;
}
button{
    border-radius: 90px;
    border: none;
    height: 20px;
    background: black;
    color: #FFFFFF;
    font-size: 12px;
    padding: 2px 10px;
}

.logo{
    width: 900px;
    height: 150px;
    background-color: #ffffff;
    text-align: center;
    /* border: 1px solid gray; */
}
.logo>img{
padding: 15px 0;
}
.menu{
    width: 900px;
    height: 45px;
    background-color: #2F2F2F;
    border-radius: 4px;  
    text-align: center;
    margin-bottom: 10px;
}
.menu> ul>li{
	display: inline-block;
	padding: 0 15px; 
}
.menu> ul>li>a{
   
	display:block;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 15px;
    line-height: 45px;
    
   
}
.menu> ul>li>a:hover{
	text-decoration: underline;
}
.than{
    width: 900px;
    height: 400px;

}
.than>img{
    width: 900px;
    height: 400px;
}
footer{
    margin-bottom: 100px;
}
footer>h1{
    padding: 20px 0;
    font-family: 'Dancing Script', cursive;
}
footer>.col{
	float: left;
	width: 31.3333%;

	margin-right: 3%;	
	
}
footer>.col:nth-child(3){
	float: right;
	margin-right: 0%;
}
footer>.col>.project>img{
    float: left;
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

footer>.col>.project>p{
	font-size: 15px;
   
    
}
