* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
  padding: 0 0 10px 0;
  font-size: 14px;
  transition: all 0.5s;
}

#topbar .social-links {
  text-align: right;
}

#topbar .social-links a {
  color: #535074;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
}

#topbar .social-links a:hover {
  color: #1bb1dc;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/


#header {
  height: 110px;
  z-index: 997;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #413e66;
  text-decoration: none;
}
/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
.nav,
.nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav a {
  display: block;
  position: relative;
  color: #413e66;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.nav a:hover,
.active> a,
.nav li:hover > a {
  color: #1bb1dc;
  text-decoration: none;
}


.nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
 
  visibility: hidden; /*chế độ ẩn tương tự display:none */
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s; /*hiệu úng chuyển động trong 0.3s */
}

.nav .drop-down:hover  ul {

  top: 100%;
  visibility: visible; /*chế độ hiện tương tự display:block */
}

.nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #065e77;
}

.nav .drop-down ul a:hover,
.nav .drop-down ul .active > a,
.nav .drop-down ul li:hover > a {
  color: #1bb1dc;
}

/* .nav .drop-down > a:after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 10px;
  } */

.nav .drop-down .drop-down ul {
  top: 0;
  left: 30%;
  opacity: 0;
  transition: ease all 0.5s;
}

.nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav .drop-down .drop-down > a {
  padding-right: 35px;
}

/* .nav .drop-down .drop-down > a:after {
    content: "\f105";
    position: absolute;
    right: 15px;
  } */
/*--------------------------------------------------------------
  !end Navigation Menu
  --------------------------------------------------------------*/
.intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #f5f8fd url("../img/intro-bg.jpg") center top no-repeat;
  background-size: cover;
}

.intro .order-md-first h2 {
  color: #413e66;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

.intro .order-md-first h2 span {
  color: #1bb1dc;
}

.intro .order-md-first .btn {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #1bb1dc;
  color: #fff;
}

.intro .order-md-first .btn:hover {
  background: #0a98c0 !important;
}
/* go to top
-------------------------- */

/* About Us Section
--------------------------------*/

#about {
  padding: 80px 0;
}

#about .about-content {
  padding-top: 40px;
}

#about .about-content h2 {
  color: #413e66;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#about .about-content h3 {
  color: #696592;
  font-weight: 400;
  font-size: 22px;
  font-style: italic;
}

#about .about-content ul {
  list-style: none;
  padding: 0;
}

#about .about-content ul li {
  padding-bottom: 10px;
}

#about .about-content ul li i {
  font-size: 20px;
  padding-right: 4px;
  color: #1bb1dc;
}

#about .about-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#about .about-img img {
  width: 100%;
  border: 8px solid #fff;
  transition: 0.5s;
}

#about .about-img img:hover {
  width: 100%;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

#about .about-img::before {
  position: absolute;
  left: -31px;
  top: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: "";
  background-color: #ebf1fa;
  transition: 0.5s;
}

#about .about-img::after {
  position: absolute;
  right: -31px;
  bottom: -30px;
  width: 90%;
  height: 92%;
  z-index: -2;
  content: "";
  background-color: #ebf1fa;
  transition: 0.5s;
}

.mystyle {
  height: 70px !important;
  padding: 15px 0 !important;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3) !important;
  /* position: fixed;
    z-index: 2 !important; */
}
.mystyle #container_1 {
  /* position: absolute!important; */
  top: 23%;
  left: 12%;
  transition: all 0.8s;
}

.mystyle #topbar {
  display: none;
}
.bars,
.fa-bars,
.fa-times {
  position: fixed;
  top: 5%;
  right: 6%;
  font-size: 130%;
  color: black;
  z-index: 10000 !important;
}
.bars > .fa-times {
  color: #fff;
  display: none;
}
.background {
  background: rgba(40, 38, 70, 0.8);
  width: 0%;
  height: 100%;
  position: fixed;
  visibility: hidden;
}

/* back_to_top */
.back-to-top {
  position: fixed;
  display: none;
  background: #1bb1dc;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}
.back-to-top i {
  padding-top: 12px;
  color: #fff;
}
.fa-chevron-up:before {
  content: "\f077";
}

/* <========== reposive ===================> */
@media (min-width: 992px) {
  /* #intro .intro-info {
      padding-top: 80px;
    } */
}
@media (max-width: 991px) {
  #topbar,
  .show .bars > .fa-bars {
    display: none;
  }
  .show > .mystyle {
    height: 70px !important;
    padding: 15px 0 !important;
    background-color: #fff0;
    box-shadow: 0px 0px 30px #fff0 !important;
  }

  #header {
    height: 70px;
    padding: 15px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
  .show .background {
    position: fixed;
    width: 100%;
    visibility: visible !important;
    z-index: 100 !important;
    transition: width 0.5s;
  }
  .show .bars > .fa-times {
    position: fixed;
    color: #fff;
    display: block !important;
    z-index: 10000 !important;
  }
  .show .nav {
    display: block !important;
  }
  .show .nav ul {
    position: fixed;
    z-index: 9000 !important;
    left: 2%;
    top: 10%;
  }
  .show.nav a:hover,
  .show.nav .active > a,
  .show.nav li:hover > a {
    color: #1bb1dc;
    text-decoration: none;
  }
  .show .nav > ul a,
  .show .nav ul li {
    color: #fff;
    float: none !important;
  }
  .show .drop-down ul{
    visibility: hidden !important;
    background-color: #fff0 !important;
    color: #fff;
    display: block;
    position: absolute;
    left: 119px;
    top: calc(100% - 10px);
    z-index: 99;
    /* padding: 10px 0; */
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }
  .show .drop-down:hover  ul {
    top: 100%;
    visibility: visible !important; /*chế độ hiện tương tự display:block */
}
}
